.primary {
  background-color: #1779ba; }
  .primary:hover, .primary:focus {
    background-color: transparent;
    box-shadow: 0px 0px 0px 2px #1779ba inset;
    color: #1779ba; }

.secondary {
  background-color: #767676; }
  .secondary:hover, .secondary:focus {
    background-color: transparent;
    box-shadow: 0px 0px 0px 2px #767676 inset;
    color: #767676; }

.success {
  background-color: #3adb76; }
  .success:hover, .success:focus {
    background-color: transparent;
    box-shadow: 0px 0px 0px 2px #3adb76 inset;
    color: #3adb76; }

.warning {
  background-color: #ffae00; }
  .warning:hover, .warning:focus {
    background-color: transparent;
    box-shadow: 0px 0px 0px 2px #ffae00 inset;
    color: #ffae00; }

.alert {
  background-color: #cc4b37; }
  .alert:hover, .alert:focus {
    background-color: transparent;
    box-shadow: 0px 0px 0px 2px #cc4b37 inset;
    color: #cc4b37; }

h1, .h1 {
  font-size: 2em;
  line-height: 1; }

h2, .h2 {
  font-size: 1.6em;
  line-height: 1; }

h3, .h3 {
  font-size: 1.3em;
  line-height: 1; }

h4, .h4 {
  font-size: 1.2em;
  line-height: 1; }

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Roboto', sans-serif; }

img {
  width: 100%;
  object-fit: cover; }

section {
  margin: 100px 0; }

h2 {
  text-transform: uppercase;
  font-size: 1.3rem; }

li {
  list-style: none; }

a {
  margin: .5rem 0;
  display: inline-block;
  transition: .2s all;
  text-decoration: none;
  color: #1f1f1f;
  padding: .2rem 2rem .2rem 0; }
  a:hover {
    color: #1779ba; }

p {
  line-height: 1.3;
  margin: .2rem 0 .5rem 0; }

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px; }

.center {
  text-align: center; }

.btn {
  margin: .5rem 0;
  display: inline-block;
  transition: .2s all;
  text-decoration: none;
  color: #fbfbfb;
  padding: .5rem 2rem; }

.search {
  display: flex; }
  .search .searchTerm {
    background: transparent;
    border: 1px solid #e9e9e9f5;
    padding-left: .5rem;
    width: 250px; }
  .search .searchButton {
    background: #3adb76;
    border: none;
    padding: .5rem 1rem;
    color: #fbfbfb; }

.footer {
  background: #1f1f1f;
  padding: 2rem 0 2rem;
  margin-top: 1rem;
  color: #fbfbfb;
  text-align: center; }
  .footer img {
    height: 2.5rem;
    margin: 1.5rem 0; }
  .footer a {
    color: #fbfbfb;
    padding: .5rem;
    font-size: 1.4rem; }
  .footer .socket {
    width: 100%;
    margin: 1rem;
    border: none;
    height: 1px;
    background: #444444; }

.header {
  margin-top: 1rem; }
  .header__top {
    display: flex;
    justify-content: space-around; }
    .header__top__logo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%; }
      @media (min-width: 768px) {
        .header__top__logo {
          width: auto; } }
      @media (min-width: 768px) {
        .header__top__logo .hamburger {
          display: none; } }
    .header__top .flex {
      display: none; }
      @media (min-width: 768px) {
        .header__top .flex {
          display: flex;
          align-items: center; } }
  .header__nav {
    width: 100%;
    padding: 1rem 0;
    display: none; }
    @media (min-width: 768px) {
      .header__nav {
        display: inline-block; } }
    @media (min-width: 768px) {
      .header__nav ul:first-child {
        display: flex;
        justify-content: center;
        border-top: 1px solid #e9e9e9f5;
        border-bottom: 1px solid #e9e9e9f5; } }
    .header__nav ul:not(:first-child) {
      display: flex;
      align-items: center;
      margin: 1rem 0; }
      @media (min-width: 768px) {
        .header__nav ul:not(:first-child) {
          display: none; } }

.section-lg {
  grid-column: span 4; }

.section-md {
  grid-column: span 4; }

.hero {
  min-height: 400px;
  background: linear-gradient(rgba(31, 31, 31, 0.5), rgba(31, 31, 31, 0.5)), center/cover no-repeat url("/img/hot-post-1.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fbfbfb; }
