$light: #fbfbfb;
$light-grey: #e9e9e9f5;
$dark-grey: #444444;
$dark: #1f1f1f;
$primary: #1779ba;
$success: #3adb76;
$warning: #ffae00;
$alert: #cc4b37;

$facebook: #3b5998;
$twitter: #1DA1F2;
$instagram: #e4405f;

$small: 600px;
$medium: 700px;
$large: 1000px;