.header{
    margin-top: 1rem;

    &__top{
        display: flex;
        justify-content: space-around;

        &__logo{
            @include flex;
            justify-content: space-between;
            width: 100%;

            @include md{
                width: auto;
            }

            .hamburger{
                @include md{
                    display: none;
                }
            }
        }

        .flex{
            display: none;

            @include md{
                @include flex;
            }
        }
    }

    &__nav{
        width: 100%;
        padding: 1rem 0;
        display: none;

        @include md{
            display: inline-block;
        }

        ul:first-child{
            @include md{
                display: flex;
                justify-content: center;
                border-top: 1px solid $light-grey;
                border-bottom: 1px solid $light-grey;
            }

        }

        ul:not(:first-child){
            @include flex;
            margin: 1rem 0;

            @include md {
                display: none;
            }
        }
    }
}