.search{
    display: flex;


    .searchTerm{
        background: transparent;
        border: 1px solid $light-grey;
        padding-left: .5rem;
        width: 250px;
    }

    .searchButton{
        background: $success;
        border: none;
        padding: .5rem 1rem;
        color: $light;
    }
}